@charset "UTF-8";


* {
    margin: 0px;
    padding: 0px;
}

:root {
    --fonte1 : 'Oswald', sans-serif;
    --fonte2: 'Bitter', serif;
    --cor1 : #022859;
    --cor2 : #035AA6;
    --cor3 : #0487D9;
    --cor4 : #05AFF2;
    --cor5 : #1BDDF2;
}
